html {
    min-height: 100%;
}

body {
    background:url('/img/groovepaper.png');
    min-height: 100%;
}

form {
    padding:1em 3em;
    margin-top:5em;
    button {
        margin:2em 0em;
    }
    h5 {
        margin:1em 0em;
    }
}